// CSS IMG, BUTTON, HEADING, TITLE, INPUT, ELEMENTS, COMPONENTS..
img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  &.--center {
    margin: 0 auto;
    display: block;
  }
}
a {
  text-decoration: none;
}

//CSS ARTICLE
article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "RB";
    display: block;
  }
  h1 {
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
    margin: 0 0 0.67rem 0;
  }
  h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    margin: 0 0 0.75rem 0;
  }
  h3 {
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
    margin: 0 0 0.83rem 0;
  }
  h4 {
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    margin: 0 0 1.12rem 0;
  }
  h5 {
    font-size: var(--h5-fs);
    line-height: var(--h5-lh);
    margin: 0 0 1.5rem 0;
  }
  h6 {
    font-size: 0.67rem;
    margin: 0 0 1.67rem 0;
  }

  p {
    margin: 0 0 1.12rem 0;
  }
  strong {
    font-family: "RB";
  }
  ol,
  ul {
    list-style: initial;
    padding-left: 18px;
  }
  img {
    display: inline-block;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    margin: 25px auto;
  }
  .video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin: 25px auto;
    iframe,
    video {
      position: absolute;
      @include size(100%);
      top: 0;
      left: 0;
    }
  }
  @include xs {
    img {
      margin: 20px auto;
    }
  }
}

.box-shadow {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.rounded-4 {
  border-radius: 0.4rem;
}
.rounded-6 {
  border-radius: 0.6rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-32 {
  margin-top: 3.2rem;
}
.mb-20 {
  margin-bottom: 2rem;
}
.mb-30 {
  margin-bottom: 3rem;
}

.heading {
  @include text(
    var(--heading32-fz),
    "RM",
    var(--heading32-lh),
    $black-cl,
    normal
  );
  @include xs {
    font-size: var(--heading24-fz);
    line-height: var(--heading24-lh);
  }
}

.img-wrap {
  position: relative;
  height: 0;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.img-xs {
      display: none;
    }
    @include xs {
      &.img-xs {
        display: block;
      }
      &.img-md {
        display: none;
      }
    }
  }
}

.btn-group {
  display: flex;
  gap: 10px;
  @include transition($t);
}
.btn {
  height: var(--height-button);
  max-width: max-content;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
  @include text(var(--body16-fz), "RM", 1.6rem, $white-cl, normal);
  @include transition($t);
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  &.is-primary {
    background-color: $primary-cl;
  }
  &.is-secondary {
    background-color: $secondary-cl;
  }
  &.is-white {
    background-color: $white-cl;
    color: $primary-cl;
  }
  @include md {
    font-size: var(--body14-fz);
    line-height: var(--body14-lh);
    height: 4rem;
  }
}

// CUSTOM COLOR
.--is-primary {
  color: $primary-cl;
}
.--is-secondary {
  color: $secondary-cl;
}

.--is-white {
  color: $white-cl;
}
.--is-black {
  color: $black-cl;
}
.--is-grey {
  color: $grey-cl;
}
.--is-grey-2 {
  color: $grey-2-cl;
}
.--is-yellow {
  color: $yellow-cl;
}
.--is-red {
  color: $red-cl;
}
.--is-red-light {
  color: $red-light;
}
.--is-red-lightest {
  color: $red-lightest;
}
.--is-red-dark {
  color: $red-dark;
}

.--is-bg-red {
  background-color: $bg-red;
}
.--is-bg-green {
  background-color: $bg-green;
}
.--is-bg-yellow {
  background-color: $bg-yellow;
}
